<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
    <!-- start: HEAD -->
    <head>
        <title>Login</title>
        <!-- start: META -->
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->
        <!-- start: MAIN CSS -->
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/fonts/style.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/css/main.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/css/main-responsive.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/plugins/iCheck/skins/all.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/css/theme_light.css" type="text/css" id="skin_color">
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/css/print.css" type="text/css" media="print"/>
        <!--[if IE 7]>
        <link rel="stylesheet" href="{ci helper="url" function="base_url"}assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <!-- end: MAIN CSS -->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    </head>
    <!-- end: HEAD -->
    <!-- start: BODY -->
    <body class="login example2">
        <div class="main-login col-sm-4 col-sm-offset-4">
            <!-- start: LOGIN BOX -->
            <div class="box-login">
                <h3>Login</h3>
                <p>Please login with your email and password below</p>
                {ci helper='form' function='form_open' param1='auth/login' param2='class="form-signin"'}
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> Did you make a mistake, check the entered data.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <span class="input-icon">
                                {ci helper='form' function='form_input' param1=$identity}
                                <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                {ci helper='form' function='form_input' param1=$password}
                                <i class="fa fa-lock"></i>
                        </div>
                        <div class="form-actions">
                            <label for="remember" class="checkbox-inline">
                                <input type="checkbox" class="grey remember" id="remember" name="remember">
                                Remember Me:
                            </label>
                            <button type="submit" class="btn btn-bricky pull-right">
                                Login <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- end: LOGIN BOX -->
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                2015 &copy; hardworm.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- start: MAIN JAVASCRIPTS -->
        <!--[if lt IE 9]>
        <script src="{ci helper="url" function="base_url"}assets/plugins/respond.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/excanvas.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!--<![endif]-->
        <script src="{ci helper="url" function="base_url"}assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/blockUI/jquery.blockUI.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/iCheck/jquery.icheck.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/less/less-1.5.0.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/jquery-cookie/jquery.cookie.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/js/main.js"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="{ci helper="url" function="base_url"}assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="{ci helper="url" function="base_url"}assets/js/login.js"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script>
            jQuery(document).ready(function () {
                Main.init();
                Login.init();
            });
        </script>
    </body>
    <!-- end: BODY -->
</html>